<!-- app/views/text_inspections/new.html.erb -->

<h1>Word Central</h1>

<h2>Submit text for inspection</h2>

<!-- ***** Updated ***** -->
<form action="/text_inspections" method="post">
  <div>
    <label for="text_inspection_user_text">Text</label>
    <br>
    <textarea name="text_inspection[user_text]" id="text_inspection_user_text" style ="width: 500px; height: 300px" placeholder="Input your text"></textarea>
  </div>

  <!-- ***** New ***** -->
  <button type="submit">Submit text</button>

  <!-- ***** New ***** -->
<input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">

</form>
<br>
<%= link_to 'back to home page','/' %>
