<!-- app/views/text_inspections/results.html.erb -->
<h1>Oringinal text: </h1>
<p> <%= @text %></p>
<h2>Total text words: <%= @word_count %></h2>
<h2>Total time to read the text: <%= @reading_time %> minutes</h2>

<%= link_to 'back to home page','/' %>
